{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
  <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
{% endblock %}
{% block body %}
  <script>
    window.initialState = {{ initialState|raw }};
    window.initialConfig = {{ initialConfig|raw }};
  </script>
  <div id="mount"></div>
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
