@import "vars";
@import "mixins";

.activity-poll {
  padding: $gutter-size 0;

  .forms-custom-checkbox {
    margin-bottom: 0.25rem;
  }
}

.activity-poll-result {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;

  .number {
    width: 60px;
    color: $color-primary;
    margin-right: 0.5rem;
  }
}

.activity-gif-player-gif,
.activity-gif-player-poster {
  width: 100%;
  height: 200px;
  position: relative;
}

.activity-gif-player-gif {
  background-color: #f0f0f0;

  img {
    width: 100%;
    height: 100%;
  }
}

.activity-gif-player-poster {
  background-size: cover;

  .icon {
    color: #FFF;
    opacity: 0.8;
    cursor: pointer;
    font-size: 3rem;
  }
}

.activity-gif-player-poster-mask,
.activity-gif-player-gif-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.activity-gif-player-poster-mask {
  background-color: rgba(0, 0, 0, 0.25);
}

.activity-image {
  overflow: hidden;
  position: relative;
}

.activity-image-btn {
  bottom: $gutter-size;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  position: absolute;
}
