@import "vars";
@import "mixins";

.card {
  background-color: #FFF;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease-in-out;

  form {
    .btn-lg {
      padding: $gutter-size 0;
    }
  }
}

.card-title {
  @extend .page-title;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 200;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: $gutter-size 0;
  color: rgba(0, 0, 0, 0.4);

  .card-activity-ellipsis,
  .card-comment-ellipsis {
    cursor: pointer;
    text-align: right;
    margin-bottom: 0.25rem;

    &:hover {
      color: #AAA;
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}

.card-sub-title {
  margin-top: -10px;
}

.card-body {
  padding: $gutter-size;

  h4 {
    .menu-button {
      float: left;
      display: block;
      margin-right: 0.5rem;
    }
  }
}

.card-footer {
  text-align: center;
  padding: $gutter-size 0;
}

/**
 * Activity & Comment
 */
.card-activity,
.card-comment {
  margin-bottom: $gutter-size;

  .card-header {
    display: flex;
    color: $color-dim;
    text-align: left;
    padding: $gutter-size $gutter-size 0;
    background-color: inherit;
    border-bottom: 0;
  }

  .card-body {
    padding-bottom: 0;
  }

  .card-footer {
    color: $color-dim;
    text-align: left;
    padding: $gutter-size;
    background-color: transparent;
    border-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .card-text {
    white-space: pre-line;

    span + img,
    span + iframe {
      margin-top: $gutter-size;
    }

    img,
    iframe {
      width: 100%;
    }

    .video {
      max-width: 100%;
      text-align: center;
    }

    .text {
      p:last-child {
        margin-bottom: 0;
      }
    }

    .anchor {
      color: $color-link;
    }

    img.emoji {
      width: 1rem;
      height: 1rem;
      margin: 0 0.25rem 1px 0.25rem;
      vertical-align: middle;
    }

    .card-activity-shimmer,
    .card-activity-shimmer-short {
      height: 1rem;
      margin-bottom: 0.5rem;
    }

    .card-activity-shimmer {
      width: 100%;
    }

    .card-activity-shimmer-short {
      width: 50%;
    }
  }

  .avatar,
  .card-activity-shimmer-avatar {
    height: 44px;
    width: 44px;
    cursor: pointer;
    margin-right: $gutter-size;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}

.card-activity-clickable {
  cursor: pointer;
}

.card-activity-user,
.card-comment-user {
  cursor: pointer;
  flex-grow: 2;
}

.card-activity-avatar {
  .shimmer {

  }
}

.card-activity-date,
.card-comment-date {
  font-size: 0.8rem;
}

.card-activity-username {
  .shimmer {
    width: 200px;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.card-activity-location,
.card-comment-location {
  font-size: 0.8rem;

  .shimmer {
    width: 200px;
    height: 0.8rem;
  }
}

.card-activity-like,
.card-comment-like {
  .icon-like-liked {
    color: $color-liked;
  }
}

.card-activity-comment-commented,
.card-comment-comment-commented {
  color: $color-liked;
}

.card-activity-preview {
  margin-bottom: 0;
}

.card-activity-like-list {
  .list-group {
    display: block;
  }

  .list-group-item {
    width: 50%;
    border: 0;
    float: left;
    display: inline;
  }
}

.card-form-post {
  .card {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }

  textarea {
    height: $input-height;
    overflow: hidden;
    transition: height 0.2s ease-in-out;

    &.focused {
      overflow: auto;
      height: $input-height * 3;
    }
  }

  .card-form-post-inputs {
    display: flex;
    align-items: flex-start;

    .card-form-post-upload,
    .card-form-post-emoji {
      display: flex;
      padding-right: $gutter-size;
      padding-top: 8px;
      align-items: center;
      justify-content: center;

      .icon {
        cursor: pointer;
        font-size: 1.5em;
        color: $color-primary;
        padding-right: $gutter-size;
        transition: $transition-btn;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          color: darken($color-primary, 10%);
        }
      }
    }

    .card-form-post-message {
      flex-grow: 2;
      padding-right: 5px;
    }

    .card-form-post-message-char-count {
      color: $color-dim;
      text-align: right;
      font-size: 0.8rem;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

/**
 * Profile
 */
.card-profile {
  border: 0;
  border-radius: 0;
  margin-bottom: $gutter-size;

  .card-body {
    padding: 0;
  }
}

.card-profile-cover-container {
  height: 250px;
  position: relative;
  text-align: center;
  background-size: cover;
  padding: $gutter-size;

  h1 {
    color: #FFF;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .avatar {
    background-color: #FFF;
  }
}

.card-profile-cover-info {
  top: $gutter-size;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  position: absolute;
}

.card-profile-cover-mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  opacity: 0.5;
  z-index: 99;
  position: absolute;
  background-color: #000;
}

.card-profile-location {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card-profile-cover-btn {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 1.5rem;
  color: #FFF;
  opacity: 0.8;
}

.card-profile-container {
  padding: $gutter-size;
}

.card-profile-about,
.card-profile-intents,
.card-profile-tags {
  padding-bottom: $gutter-size;

  h3 {
    font-size: 1rem;
    color: $color-dim;
  }
}

.card-profile-stats {
  font-size: 1rem;
  color: $color-dim;
}

.card-profile-tags-add-btn {
  float: right;
  cursor: pointer;
  color: #007bff;
  font-size: 0.9rem;

  &:hover {
    color: lighten(#007bff, 10%);
  }

  .icon {
    font-size: 0.8rem;
  }
}

.card-profile-edit-btn {
  float: right;
}

.card-profile-badge {
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.card-profile-nav {
  margin-bottom: $gutter-size;
}

.card-profile-ellipsis {
  color: #FFF;
  float: right;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 0.25rem;
  margin-right: 15px;

  &:hover {
    opacity: 1;
  }

  .icon {
    font-size: 1.5rem;
  }
}

/**
 * Settings
 */
.card-settings-list-group {
  .list-group-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
