@import "vars";
@import "mixins";

.card {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.21);

  form {
    .btn-lg {
      padding: $gutter-size 0;
    }
  }
}

.card-title {
  @extend .page-title;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 200;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: $gutter-size 0;
  color: rgba(0, 0, 0, 0.4);

  .icon {
    left: 0;
    right: 0;
    top: -22px;
    font-size: 7rem;
    position: absolute;
    color: rgba(0, 0, 0, 0.06);
  }
}

.card-sub-title {
  margin-top: -10px;
}

.card-body {
  padding: $gutter-size;

  h4 {
    .menu-button {
      float: left;
      display: block;
      margin-right: 0.5rem;
    }
  }
}

.card-footer {
  text-align: center;
  padding: $gutter-size 0;

  a {
    text-transform: uppercase;
  }
}

/**
 * Activity & Comment
 */
.card-activity,
.card-comment {
  margin-bottom: $gutter-size;

  .card-header {
    display: flex;
    color: $color-dim;
    text-align: left;
    padding: $gutter-size;
  }

  .card-body {
    padding-bottom: 0;
  }

  .card-footer {
    color: $color-dim;
    text-align: left;
    padding: $gutter-size;
    background-color: transparent;
    border-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .card-text {
    white-space: pre-line;

    img {
      width: 100%;
    }

    .text {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .avatar {
    height: 44px;
    width: 44px;
    margin-right: $gutter-size;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}

.card-activity-clickable {
  cursor: pointer;
}

.card-activity-user,
.card-comment-user {
  flex-grow: 2;
}

.card-activity-date,
.card-comment-date {
  font-size: 0.8rem;
}

.card-activity-username {

}

.card-activity-location,
.card-comment-location {
  font-size: 0.8rem;
}

.card-activity-like,
.card-comment-like {
  .icon-like-liked {
    color: $color-liked;
  }
}

.card-activity-comment-commented,
.card-comment-comment-commented {
  color: $color-liked;
}

.card-form-post {
  margin-bottom: $gutter-size;

  textarea {
    height: $input-height;
    overflow: hidden;
    transition: height 0.2s ease-in-out;

    &:focus {
      overflow: auto;
      height: $input-height * 3;
    }
  }

  .card-form-post-inputs {
    display: flex;

    .card-form-post-upload {
      width: 45px;

      .icon {
        cursor: pointer;
        font-size: 2.5em;
        color: #9a9a9a;

        &:hover {
          color: #000;
        }
      }
    }

    .card-form-post-message {
      flex-grow: 2;
      padding-right: 5px;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
