@import "vars";
@import "mixins";

.drawer {
  top: $header-height;
  bottom: 0;

  .drawer-mask {
    top: $header-height;
  }

  .btn {
    border: 0;
  }
}

.drawer-left {
  height: calc(100% - #{$header-height});

  .drawer-content-wrapper {
    bottom: 0;
    height: calc(100% - #{$header-height});
  }

  .drawer-content {
    height: 100%;
  }
}

.drawer-content-wrapper {
  color: #FFF;
  background-color: #343A40;
}

.drawer-header {
  display: flex;
  color: #FFF;
  align-items: center;
  justify-content: flex-start;
  padding: $gutter-size;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);

  h3 {
    flex-grow: 2;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .avatar-container {
    margin-right: $gutter-size;
  }
}

.drawer-icon {
  color: #FFF;
  opacity: 0.9;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.drawer-dock-icon {
  font-size: 1.3rem;
}

.drawer-footer {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px $gutter-size;
  background-color: #46495f;
  position: absolute;

  .drawer-links {
    flex-grow: 2;
    text-align: right;
    padding-right: $gutter-size;

    a {
      color: #FFF;
    }
  }
}

.drawer-buttons {
  padding: $gutter-size;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
}

/**
 * Notifications
 */
.drawer-notifications-list-group {
  color: #FFF;

  .avatar-container {
    margin-right: $gutter-size;
  }

  .list-group-item {
    cursor: pointer;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    background-color: transparent;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
  }
}

.drawer-notifications-avatar {
  width: 42px;
}

.drawer-notifications-message {
  max-width: 100%;
  overflow: hidden;
  flex-grow: 2;

  .icon {
    margin-right: 0.5rem;
  }
}

.drawer-notifications-buttons {
  padding-left: $gutter-size;
}
