@import "vars";
@import "mixins";

.icon-like {
  cursor: pointer;
}

.icon-like-loading {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

.icon-menu {
  padding: 12px;
  opacity: 1 !important;
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  div {
    left: 0;
    bottom: 0;
    top: -12px;
    right: -12px;
    height: 1rem;
    width: 1rem;
    color: #FFF;
    display: flex;
    margin: auto auto;
    position: absolute;
    cursor: pointer;
    font-size: 0.6rem;
    border-radius: 50%;
    line-height: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #bd2222;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.icon-write {
  font-size: 1.2rem;
}

.emoji-popper {
  z-index: 1000;
  margin-top: 75px;
}
