@import "vars";
@import "mixins";

.icon-like {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.icon-like-loading {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

.icon-menu-container {
  position: relative;

  div {
    left: 0;
    bottom: 0;
    top: -16px;
    right: -16px;
    height: 1.2rem;
    width: 1.2rem;
    color: #FFF;
    display: flex;
    margin: auto auto;
    position: absolute;
    cursor: pointer;
    font-size: 0.6rem;
    border-radius: 50%;
    line-height: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: #bd2222;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.icon-dock {
  transition: margin-left 0.1s ease-in-out, padding-right 0.1s ease-in-out;

  &.docked {
    &:hover {
      margin-left: -4px;
      padding-right: 4px;
    }
  }

  &.undocked {
    &:hover {
      margin-right: -4px;
      padding-left: 4px;
    }
  }
}

.emoji-popper {
  z-index: 1000;
  margin-top: 75px;
}
