@import "vars";
@import "mixins";

body {
  color: #333;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #9c9c9c !important;
}

a {
  color: $color-link;
}
