@import "vars";
@import "mixins";

#mount {
  position: relative;
}

body {
  color: #333;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #3b4354 !important;
}

a {
  color: $color-link;
}

footer {
  padding: $gutter-size;
}

.sidebar-docker {
  @extend .drawer-content-wrapper;
  top: $header-height;
  bottom: 0;
  width: 15vw;
  position: fixed;
}
