@import "vars";
@import "mixins";

#navbar-nav {
  justify-content: flex-end;
}

.nav-item.dropdown {
  margin-top: 4px;
}

.nav-link {
  padding: 0.25rem 1rem;
  padding-right: 0 !important;
}

.nav-badge {
  padding: 10px;
  background-color: #5e6165;

  &.badge-info {
    background-color: #898989;
  }

  &.nav-link {
    cursor: pointer;
  }

  .badge {
    font-size: 90%;
    margin-left: 0.5rem;
  }
}

.nav-badge-dropdown {
  cursor: pointer;
  margin-left: 0.5rem;

  &::after {
    margin-left: 0.5rem;
  }
}

.nav-badge-dropdown-menu {
  background-color: #5e6165;

  .dropdown-item {
    color: #FFF;

    &:hover {
      color: #FFF;
      background-color: #5e6165;
    }
  }
}

.nav-badge-with-number {
  display: flex;
  padding: 8px 10px;
  margin-left: 0.5rem;
  align-items: center;
}
