@import "vars";
@import "mixins";

.page {
  .container,
  .container-fluid {
    padding-top: ($header-height + $gutter-size);
  }
}

.page-title {
  color: #333;
  padding: $gutter-size 0;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;

  &.card-title {
    padding-top: 0;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: $gutter-size;
  }
}

.page-title-lg {
  font-size: 3rem;

  @include media-xs {
    font-size: 2rem;
  }
}

.page-full-height {
  min-height: calc(100vh - #{$header-height});
}

.page-not-found-404 {
  color: #DDD;
  line-height: 1;
  font-size: 216px;
  font-weight: 600;
  letter-spacing: 4px;
}

/**
 * Feed
 */
.page-feed-nav-btn-group {
  .btn {
    color: #616161;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border: 0;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;

    &:hover,
    &.active {
      color: #FFF;
      background-color: #919ec9;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .badge {
      background-color: #bccae4;
    }
  }
}
