@import "vars";
@import "mixins";

.profile-badge-tag {
  display: inline-flex;
  padding: 8px 10px;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  align-items: center;

  .icon {
    margin-left: 0.5rem;

    &:hover {
      color: red;
    }
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}
