@import "vars";
@import "mixins";

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.gutter {
  padding: $gutter-size;
}

.gutter-lg {
  padding: $gutter-size * 2;
}

.gutter-bottom {
  padding-bottom: $gutter-size;
}

.gutter-bottom-lg {
  padding-bottom: $gutter-size * 2;
}

.gutter-bottom-sm {
  padding-bottom: $gutter-size / 2;
}

.gutter-top {
  padding-top: $gutter-size;
}

.gutter-top-lg {
  padding-top: $gutter-size * 2;
}

.gutter-top-sm {
  padding-top: $gutter-size / 2;
}

.gutter-sides {
  padding-left: $gutter-size;
  padding-right: $gutter-size;
}

.gutter-left {
  padding-left: $gutter-size;
}

.gutter-right {
  padding-right: $gutter-size;
}

.clickable {
  cursor: pointer;
}

.middle {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.circle {
  border-radius: 50%;
  display: inline-block;
}

.loader {
  width: 57px;
  height: 57px;
  text-align: center;
  display: inline-block;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

// Positions an element in the middle of the page
.middle {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

// Creates a container where it's children are in the middle of the page
.v-middle {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  min-height: calc(90vh - #{$header-height});
}

.mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  opacity: 0.5;
  z-index: 1050;
  position: fixed;
  overflow: hidden;
  background-color: #000;
}

.shimmer {
  position: relative;
  background: #f0f0f0;
  background-size: 800px 104px;
}

.video {
  position: relative;

  .icon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    color: #FFF;
    width: 22px;
    height: 28px;
    margin: auto;
    cursor: pointer;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);

    &:hover {
      text-shadow: 0 2px 2px #000;
    }
  }

  video {
    width: 100%;
    height: 100%;
    max-height: 500px;
  }
}
