$break-xs: 320px;
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;
$break-xl: 1920px;

$color-brand: #00A8AF;
$color-primary: #8a9ec5;
$color-success: #57bb10;
$color-warning: #e0a800;
$color-danger: #a92d2d;
$color-secondary: #545b62;
$color-info: #17a2b8;
$color-link: #0099cc;
$color-liked: #ea1818;
$color-dim: #616161;

$gutter-size: 15px;
$header-height: 54px;
$input-height: 38px;

$transition-btn: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
